version: "3.8"

services:
  # MariaDB
  mariadb:
    build:
      context: ./requirements/mariadb
    # $MYSQL_HOST
    image: mariadb:v1
    init: true
    container_name: mariadb
    volumes:
      - mariadb_volume:/var/lib/mysql
    env_file: ./.env
    restart: "always"
    networks:
      - inception

  # wordpress
  wordpress:
    build:
      context: ./requirements/wordpress
    image: wordpress:v1
    init: true
    container_name: wordpress
    depends_on:
      - mariadb
    volumes:
      - wordpress_volume:/var/www/wordpress
    env_file: ./.env
    restart: "always"
    networks:
      - inception

  # nginx
  nginx:
    build:
      context: ./requirements/nginx
    image: nginx:v1
    init: true
    container_name: nginx
    depends_on:
      - wordpress
    volumes:
      - wordpress_volume:/var/www/wordpress
    env_file: ./.env
    restart: "always"
    networks:
      - inception
    ports:
      - "80:80"

networks:
  inception:
    name: inception
    driver: bridge

volumes:
  mariadb_volume:
    name: mariadb_volume
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hannkim/data/db
  wordpress_volume:
    name: wordpress_volume
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hannkim/data/wordpress
