# /etc/my.cnf
# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]
socket=/tmp/mysql.sock

# This group is read by the server
[mysqld]
# basedir=/usr
datadir=/var/lib/mysql
user=mysql
# default는 ./data 생성되는듯??
# mariadbd-safe로 실행하면 default가 /var/lib/mysql임 ㄷㄷ

# ip binding 필요함

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
!includedir /etc/my.cnf.d
