# /etc/my.cnf
# This group is read both both by the client and the server
# use it for options that affect everything

[client-server]
socket=/tmp/mysql.sock

# This group is read by the server
[mysqld]
# default는 ./data 생성되는듯??
# mariadbd-safe로 실행하면 default가 /var/lib/mysql임 ㄷㄷ
datadir=/var/lib/mysql
# set mariadbd --user=mysql
user=mysql
port=3306
bind-address=0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
# !includedir /etc/my.cnf.d
